
.leaderboard{
  li{
    font-size: 1.2em;
    border-top: 1px solid color("grey", "lighten-2");
  }
  .position{
    margin: 1rem 0 1rem 1rem;
    position: relative;
    .badge{
      color: white;
    }
  }
  .first-position{
    font-size: 1.6rem;
    margin: 0.5rem 0 1rem 0;
  }
  .score{
    padding: 15px;
  }
}