
.leaderboard{
  li{
    font-size: 1.2em;
    border-top: 1px solid color("grey", "lighten-2");
  }

  ul{
    margin-bottom: 0px;
  }

  li:nth-child(even){
    background-color: color("grey", "lighten-3");
  }

  li:hover{
    background-color: color("grey", "lighten-2");
  }
  .player{
    padding: 1rem 0 1rem 1rem;
    font-size: 1.5rem;
    font-weight: 800;
    color: color('grey', 'darken-4');
    .badge{
      color: white;
      margin-top: 12px;
    }
    .score{
      font-size: 16pt;
      font-family: logo;
      color: color('grey', 'lighten-1');
    }
  }
  .first-position{
    font-size: 1.6rem;
    margin: 0.5rem 0 1rem 0;
  }
  .score{
    padding: 15px;
  }
}