@import "../vendor/materialize/sass/materialize";

$accent-color: #f44336;

@import "addPlayer/addPlayer";
@import "leaderboard/leaderboard";
@import "playerScore/playerScore";
@import "searchPlayers/searchPlayers";

body{
  background-size: 100% 100%;
  background: url('/images/track-mania.jpg') no-repeat;
}


.header{
  color: $accent-color;
}

.wrapper{
  margin-top: 3em;
  padding: 1em;
  @extend .z-depth-5;
  .white{
      background-color: color('grey', 'lighten-5');
  }
}



