@import "../vendor/materialize/sass/materialize";

$accent-color: black;

@import "home/home";
@import "addPlayer/addPlayer";
@import "leaderboard/leaderboard";
@import "navigation/navigation";
@import "playerScore/playerScore";
@import "searchPlayers/searchPlayers";

body{
  background-size: cover;
  background: url('/images/track-mania.jpg') no-repeat;
}


.header{
  color: $accent-color;
  font-family: header;
}

.wrapper{
  margin-top: 3em;
  padding: 1em;
  @extend .z-depth-5;
  .white{
      @extend .grey, .lighten-4;
  }
}

@font-face {
  font-family: logo;
  src:
  url("/fonts/MYRIADPRO-COND.woff"),
}

@font-face {
  font-family: header;
  src:
  url("/fonts/BebasNeue.otf"),
}
